  
<div >
  <mat-card style="background-image: url('{{country.imageUrl}}'); background-position: center; background-size: cover;">
    <label for="id1">Country Name:</label>
    <input id="id1" type="text" [value]="country.name" [disabled] ="dis" [size]="country.name.length">
    <label for="id2">Country Area (in km2):</label>
    <input id="id2" type="text" [value]="country.area" [disabled] ="dis" size="5"><br>
    <!-- <img  src="{{country.imageUrl}}" alt = "{{country.imageUrl}}" height="90px" width="160px"> -->
    <mat-card-content>
      <p>
        <b>More info about this country:</b><br>
        <textarea rows="2" cols="45" name="text" [value]="country.moreInfo" [disabled]="dis"></textarea>
      </p>
    </mat-card-content>
      <button mat-icon-button (click)="changeAllInfo()">
        <span class='fa fa-edit fa-lg'></span>
      </button>
  </mat-card>
  <hr>
</div>